table, th, td {
  border: 2px solid #bbb;
  border-collapse: collapse;
}

.basket{
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #bbb;
  display: inline-block; 
}

.receipt{
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #bbb;
  display: inline-block; 
}

hr {
  border-top: 3px double #bbb;
}

.boxed{
  border: 3px solid #bbb;
  border-radius: 8px;
  padding: 1px 10px;
}

.unstyled-btn {
  all: unset;
  cursor: pointer;
}

.summary{
  padding: 0 20px;
  display: inline-block;
  border: none;
}

.summary th,
.summary td {
  border: none;
  text-align: left;
  padding: 3px 5px;
}

.total-row th,
.total-row td{
  border-top: 2px solid #bbb;
}

